@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Quantico", Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 50px;
}

html, body {
    background-color: rgb(194, 255, 213);
    color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item {
    text-align: center;
}

button {
    margin: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(213, 213, 255);
    border-radius: 15px;
}