@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Quantico", Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 50px;
}

body {
    background-color: rgb(194, 255, 213);
    color: black;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 20px;
    background-color: rgb(213, 213, 255);
}